{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ subsession.round_number }} - Role Assignment
{% endblock %}

{% block content %}
    <br>
        <p> First, choose the role you would like to pay for. </p>
        <table>
        <tr>
            <td align="center"valign="center"> Role </td>
            <td align="center"valign="center">  <font color= "{{ group.color1 }}"> {{ group.color1 }} </td>
            <td align="center"valign="center">  <font color= "{{ group.color2 }}"> {{ group.color2 }} </td>
            <td align="center"valign="center">  <font color= "{{ group.color3 }}"> {{ group.color3 }} </td>
        </tr>
        <tr>
            <td align="center"valign="center"> Proposal probability in stage 1 </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_1 }} %  </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_2 }} % </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_3 }} % </td>
        </tr>
        <tr>
            <td align="center"valign="center"> Proposal probability in stage 2 </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_1_2nd }} %  </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_2_2nd }} %  </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_3_2nd }} %  </td>
        </tr>
        <tr>
            <td> Role to pay for: </td>
            {% for choice in form.bid_role %}
                <td>{{ choice }}</td>
            {% endfor %}
        </tr>
        </table>
    <br>

    <br>
    <p> Next, on the slider, choose the amount of money to pay for the role you chose. </p>
    <p> {% formfield player.bid label = "" %} </p>
    <p> Amount: {{ player.bid }} </p>

    <p> Here is the probability of each role being assigned to you, conditional on the role you chose and the amount you set on the slider. </p>
     <table>
        <tr>
            <td align="center"valign="center"> Role </td>
            <td align="center"valign="center">  <font color= "{{ group.color1 }}"> {{ group.color1 }} </td>
            <td align="center"valign="center">  <font color= "{{ group.color2 }}"> {{ group.color2 }} </td>
            <td align="center"valign="center">  <font color= "{{ group.color3 }}"> {{ group.color3 }} </td>
        </tr>
        <tr>
            <td align="center"valign="center"> Probability of assignment </td>
            <td align="center"valign="center"> {{ player.prob_role1 }} %  </td>
            <td align="center"valign="center"> {{ player.prob_role2 }} % </td>
            <td align="center"valign="center"> {{ player.prob_role3 }} % </td>
        </tr>
     </table>
    <br>

    {% next_button %}

{% endblock %}

{% block styles %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 400px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
</style>

<style>
    .myclass::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px !important;
        width: 20px !important;
        border-radius: 3px !important;
        background: #ffffff !important;
        cursor: pointer !important !important;
        -webkit-appearance: none !important;
        margin-top: -14px !important;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 18px 0;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #3071a9;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }

    input[type=range]::-webkit-slider-thumb {
        border: 0px;
        height: 0px;
        width: 0px;
        border-radius: 0px;
        -webkit-appearance: none;
    }


</style>
<script>
    $(document).ready(function () {
        $('input[type=range]').on('input change', function () {
            $('input[type=range]').addClass('myclass');
        });

    });
</script>

<script>
var slider = document.getElementById("bid");
var bid = 0; //variable to be controlled
var dispDiv = document.getElementById("dispDiv");
dispDiv.innerHTML = "the js variable 'bid' currently = " + bid;

slider.addEventListener("change", function() {
  bid = bid.value;
  dispDiv.innerHTML = "the js variable 'bid' currently = " + bid;
})

setInterval(function() {
  bid = slider.value;
  dispDiv.innerHTML = "the js variable 'bid' currently = " + bid;
}, 100)

</script>
{% endblock %}