{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ subsession.round_number }}, Stage 2 &ndash; Your Proposal
{% endblock %}

{% block content %}
    <p> You are <font color= "{{ player.color }}" ><b> {{ player.color }}</b></font>.</p>

    <br>
    <p>Your group must decide how to allocate {{ group.budget }} tokens among its members.</p>
    <p>Make your provisional allocation proposal:</p>
    <table cellpadding="12" cellspacing="12">
        <tr>
            <td align="center"valign="center"> Member </td>
            <td align="center"valign="center">  <font color= "{{ group.color1 }}"> {{ group.color1 }} </td>
            <td align="center"valign="center">  <font color= "{{ group.color2 }}"> {{ group.color2 }} </td>
            <td align="center"valign="center">  <font color= "{{ group.color3 }}"> {{ group.color3 }} </td>
        </tr>
        <tr>
            <td align="center"valign="center"> Your proposal </td>
            <td>{% formfield player.offer_to_1_2 label=''%}</td>
            <td>{% formfield player.offer_to_2_2 label=''%}</td>
            <td>{% formfield player.offer_to_3_2 label=''%}</td>
        </tr>
        <tr>
            <td align="center"valign="center"> Proposal probability in stage 1 </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_1 }} %  </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_2 }} % </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_3 }} % </td>
        </tr>
         <tr>
            <td align="center"valign="center"> Proposal probability in stage 2 </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_1_2nd }} %  </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_2_2nd }} %  </td>
            <td align="center"valign="center"> {{ Constants.rec_perc_3_2nd }} %  </td>
        </tr>
    </table>

<br>

    {% next_button %}

{% endblock %}

{% block styles %}
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 400px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
</style>
{% endblock %}